body {
	margin: 0px;
	background-color: #000000;
	color: yellow
	}
 
#container {position: absolute;
	top: 15px; left: 15%;
	height: 80%; width: 70%;
	padding: 0px; margin: 0px;
}
td {text-align: center;}
/*
a:active {text-decoration: none; color: "white";}
a:link {text-decoration: none; color: "green";}
a:hover {text-decoration: none; color: "blue";}
a:visited {text-decoration: none; color: "orange";}*/
img {border: 3px solid white;}
#banner {background-color: #191970;
	color: #FFFFFF;
	text-align: center;
	width: 100%; height: 20%;
	font-family: helvetica;
	font-size: 30px;

}
#banner h4 {padding-top: 5%}
#navbar {background-color: #66A3D2;
	color: black;
	text-align: center;
	width: 100%; height: 6%;
}

#content {background-color: #FFFFFF;
	color: black;
	text-align: center;
	width: 100%; height: 70%;
	overflow: auto;
}
#footer {background-color: #0B61A4;
	color: black;
	text-align: center;
	width: 100%; height: 10%;
}
